@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "./reset.scss";

$white: #FFFFFF;
$dark: #333333;
$blue: #A5E5F4;
$yellow: #FFE267;
$template: #a39c7d3d;
$template2: rgba(255, 0, 0, 0.473);
$gray-text: #61636B;
$bordergray: #D1DCE3;
$black-text: #2B2B2B;
$red: #E63239;

body {
  font-family: "Rubik", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// МОДАЛЬНОЕ ОКНО
.modal {
  display: none;
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: $white;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15% auto;
  max-width: 700px;
  position: relative;
  border-radius: 8px;
  h2 {
    margin: 19px 0px;
    color: #000000;
    font-weight: 700;
    font-size: 32px;
  }
  p {
    font-size: 18px;
    color: $black-text;
  }
}

.modal-content__container {
  padding:  48px;
}

.modal-content__container__input-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  input {
    margin-top: 32px;
    width: 286px;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid;
    border-color: $bordergray;
  }
}

.modal-content__container textarea {
  width: 100%;
  height: 140px;
  padding: 16px;
  margin-top: 32px;
  box-sizing: border-box;
  border: 1px solid $bordergray;
  border-radius: 8px;
  font-size: 18px;
  resize: none;
}

//CHECKBOX
.modal-content__container_checkbox{
  margin: 32px 0px;
}
.checkbox.style-a {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkbox.style-a input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkbox.style-a input:checked ~ .checkbox__checkmark {
  background-color: #fff;
}
.checkbox.style-a input:checked ~ .checkbox__checkmark:after {
  opacity: 1;
}
.checkbox.style-a:hover input ~ .checkbox__checkmark {
  background-color: #eee;
}
.checkbox.style-a:hover input:checked ~ .checkbox__checkmark {
  background-color: #fff;
}
.checkbox.style-a .checkbox__checkmark {
  position: absolute;
  top: 4px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #fff;
  border: 1px solid $gray-text;
  transition: background-color 0.25s ease;
  border-radius: 3px;
}
.checkbox.style-a .checkbox__checkmark:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid $red;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
  opacity: 0;
  transition: opacity 0.25s ease;
}
.checkbox.style-a .checkbox__body {
  color: #333;
  line-height: 1.4;
  font-size: 16px;

  p{
    color: $red;
  }
}

.modalBtn{
  padding: 20px 40px;
  color: $white;
  background-color: $red;
  border-radius: 46px;
}

.close {
  position: absolute;
  float: right;
  right: 24px;
  top: 24px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



.triangle_gray {
  position: absolute;
  left: 0px;
  top: 13%;
}

.container__general {
  width: 1440px;
  position: relative;
  margin-top: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__row {
  width: 1119px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container__row768plus {
  width: 1119px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container__row375 {
  display: none;
}

.container__row-column-1 {
  width: 50%;
}

.container__row-column-1 .date1969 {
  margin: 25px 16px;
  position: relative;
  display: flex;
  flex-direction: column;

  img {
    position: absolute;
    top: 30px;
    left: 30px;
  }

  h2 {
    font-weight: 700;
    font-size: 64px;
    z-index: 1;
  }

  p {
    z-index: 1;
    line-height: 34px;
    margin-left: 15%;
    font-weight: 400;
    font-size: 16px;
    max-width: 448px;
  }
}

.date__container--text {
  display: flex;
  flex-direction: column;
  z-index: 2;
  align-items: center;
}

.container__row-column-1 .date2008 {
  position: relative;
  display: flex;
  z-index: 1;
  flex-direction: column;
  margin-top: 50px;

  h2 {
    font-weight: 700;
    font-size: 64px;
  }

  p {
    line-height: 34px;
    font-weight: 400;
    font-size: 16px;
    width: 316px;
    margin-bottom: 20px;
  }

  button {
    background-color: #E63239;
    padding: 20px 48px;
    max-width: 287px;
    border-radius: 46px;
    color: $white;
  }
}

.threedots {
  width: 100%;
  display: flex;
  justify-content: center;
}

.threedots-oneline {
  background-image: url("../images/lineofdots_vertical.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 226px;
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.container__row-column-1 .block--oxford2 {
  width: 560px;
  height: 319px;
  background-image: url('../images/oksford_2.png');
  margin-top: 58px;
  display: flex;
  justify-content: center;
  z-index: 1;
  flex-direction: column;
  color: $white;
  padding: 33px;

  h2 {
    font-weight: 700;
    font-size: 64px;
  }

  p {
    line-height: 34px;
    font-weight: 400;
    font-size: 16px;
    max-width: 316px;
    margin-bottom: 20px;
  }
}

.container__row-column-2 {
  width: 50%;
}

.container__row-column-2 .date1997 {
  position: relative;
  display: flex;
  flex-direction: column;

  img {
    position: absolute;
    top: 10px;
  }

  h2 {
    font-weight: 700;
    font-size: 64px;
    z-index: 1;
  }

  p {
    z-index: 1;
    line-height: 34px;
    margin-top: 2%;
    font-weight: 400;
    font-size: 16px;
    max-width: 405px;
  }
}

.container__row-column-2 .block--oxford1--text {
  width: 752px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 34px;
  padding: 60px 48px;
  background-color: #A5E5F4;

  p {
    width: 537px;
  }
}

.central_logo {
  position: absolute;
  left: 621px;
}

.container__row-column-2 .block--oxford1--cups {
  width: 600px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  .cups {
    position: absolute;
    top: -10px;
  }

  .line--image {
    position: absolute;
    left: 25%;
    bottom: 0px;
  }
}

.container__row-column-2 .block--oxford1--cups__text {
  position: relative;
  display: flex;
  margin-bottom: 0px;
  margin-top: auto;

  img {
    position: absolute;
    z-index: 0;
    left: -12px;
  }

  p {
    font-weight: 700;
    text-decoration: underline;
    text-underline-offset: 6px;
    z-index: 33;
  }
}

.container__row--cards_wrapper {
  margin-top: 125px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 19px;

  h2 {
    font-weight: 700;
  }
}

.container__row--under_row1 {
  display: flex;
  gap: 19px;
}

.under_row1--card {
  display: flex;
  flex-direction: column;
  background-color: $white;
  align-items: start;
  box-shadow: 0px 5px 20px 0px #0000001A;
  border-radius: 25px;
  padding: 15px 25px;
  transition: 0.2s;
  gap: 38px;
  cursor: pointer;
}

.under_row1--big_card {
  display: flex;
  background-color: $white;
  align-items: center;
  justify-content: space-between;
  width: 550px;
  box-shadow: 0px 5px 20px 0px #0000001A;
  border-radius: 25px;
  padding: 15px 25px;
  transition: 0.2s;
  cursor: pointer;

  .big_card--logo {
    margin-bottom: 35px;
  }

  .big_card--info {
    display: flex;
    flex-direction: column;
  }
}

.container__row--under_row2 {
  display: flex;
  gap: 19px;
}

.container__row--cards_wrapper .under_row1--card768 {
  display: none;
}

.container__row--under_row2 .under_row2--card {
  display: flex;
  flex-direction: column;
  background-color: $white;
  justify-content: space-between;
  align-items: start;
  box-shadow: 0px 5px 20px 0px #0000001A;
  border-radius: 25px;
  padding: 15px 25px;
  gap: 38px;
  cursor: pointer;
  width: 266px;
  transition: 0.2s;
}


.container__row .with-arrow {
  background-color: $yellow;
}

.bg-gray_rectangle {
  position: absolute;
  top: 1250px;
  height: 700px;
  z-index: -1;
}

// ADAPTIVE FOR 768 RES
@media (max-width: 768px) {
  .container__general {
    max-width: 768px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 25px 125px;
    align-items: center;
  }

  .threedots {
    width: 170%;
    display: flex;
    justify-content: center;
  }

  .container__row-column-1 .date1969 {
    margin: 25px 16px;

    p {
      font-size: 16px;
      width: 364px;
    }
  }

  .container__row-column-1 .date2008 {
    position: relative;
    display: flex;
    z-index: 1;
    flex-direction: column;
    margin-top: 30px;

    h2 {
      font-weight: 700;
      font-size: 64px;
    }

    p {
      line-height: 34px;
      font-weight: 400;
      font-size: 16px;
      width: 300px;
    }

  }

  .triangle_gray {
    position: absolute;
    left: -20%;
    top: 4%;
  }

  .container__row-column-2 .block--oxford1 {
    img {
      width: 378px;
    }
  }

  .container__row-column-2 .block--oxford1--text {
    max-width: 378px;
    line-height: 34px;
    padding: 35px 0px 35px 27px;

    p {
      max-width: 349px;
    }
  }

  .central_logo {
    position: absolute;
    left: 280px;
    top: 34%;
  }

  .container__row-column-2 .block--oxford1--cups {
    max-width: 350px;
  }

  .block--oxford1--cups .line--image {
    width: 113px;
    left: 40%;
  }

  .container__row-column-1 .block--oxford2 {
    width: 372px;
    height: 319px;
    background-image: url('../images/oksford_2.png');
    padding: 33px;

    p {
      max-width: 237px;
    }
  }

  .container__row {
    width: 768px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .container__row--under_row1 {
    display: none;
  }

  .container__row--under_row2 {
    display: none;
  }

  .container__row__for768 {
    display: flex;
    flex-wrap: wrap;
    max-width: 745px;
    gap: 29px;
  }

  .container__row__for768 .under_row1--card768 {
    display: flex;
    flex-direction: column;
    background-color: $white;
    justify-content: space-between;
    align-items: start;
    box-shadow: 0px 5px 20px 0px #0000001A;
    border-radius: 25px;
    padding: 15px 25px;
    gap: 38px;
    cursor: pointer;
    width: 227px;
    transition: 0.2s;
  }

  .bg-gray_rectangle {
    position: absolute;
    top: 1250px;
    height: 900px;
    z-index: -1;
  }
}

// ADAPTIVE FOR 375 RES
@media (max-width: 375px) {
  .container__general {
    width: 375px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 25px 110px;
    align-items: center;
  }

  .threedots {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 10%;
    left: 15%;
    width: 30px;
  }

  .container__row-column-1 .date1969 {
    margin: 25px 16px;

    img {
      position: absolute;
      top: -20px;
      left: -65px;
    }

    h2 {
      font-weight: 700;
      font-size: 64px;
      z-index: 1;
    }

    p {
      z-index: 1;
      line-height: 34px;
      margin-left: 15%;
      font-weight: 400;
      font-size: 16px;
      width: 300px;
    }
  }

  .container__row-column-2 .date1997 {
    top: 250px;
    width: 280px;

    img {
      position: absolute;
      top: 10px;
      left: -180px;
    }

    h2 {
      font-weight: 700;
      font-size: 64px;
      z-index: 1;
    }

    p {
      z-index: 1;
      line-height: 34px;
      margin-left: 27px;
      font-weight: 400;
      font-size: 16px;
      width: 220px;
    }
  }

  .container__row-column-1 .date2008 {
    position: relative;
    display: flex;
    z-index: 1;
    flex-direction: column;
    margin-top: 300px;

    h2 {
      font-weight: 700;
      font-size: 64px;
    }

    p {
      line-height: 34px;
      font-weight: 400;
      font-size: 16px;
      width: 300px;
    }
  }

  .triangle_gray {
    position: absolute;
    left: 60%;
    top: 26%;
    display: none;
  }

  .container__row-column-1 .block--oxford1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    img {
      width: 333px;
      position: absolute;
      top: 5%;
    }
  }

  .block--oxford1--text {
    margin-top: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 34px;
    padding: 25px;
    background-color: #A5E5F4;

    p {
      width: 325px;
    }
  }

  .central_logo {
    position: absolute;
    width: 120px;
    left: 65%;
    z-index: 1;
    top: 53%;
  }

  .container__row-column-1 .block--oxford1--cups {
    width: 90%;
    display: flex;
    justify-content: space-between;
  }

  .block--oxford1--cups {
    position: absolute;
    top: 65%;
  }

  .block--oxford1--cups__text {
    display: flex;
    margin-top: 12%;
    margin-bottom: 0px;

    img {
      position: absolute;
      z-index: 0;
    }

    p {
      font-weight: 700;
      text-decoration: underline;
      text-underline-offset: 6px;
      z-index: 33;
    }
  }

  .block--oxford1--cups .line--image {
    display: none;
  }

  .container__row-column-1 {
    width: 100%;
  }

  .container__row-column-1 .block--oxford2 {
    width: 372px;
    background-image: url('../images/oksford_2.png');
    padding: 33px;
    margin-top: 0;

    p {
      max-width: 237px;
    }
  }

  .container__row {
    width: 375px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .container__row768plus {
    display: none;
  }

  .container__row375 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container__row--under_row1 {
    display: none;
  }

  .container__row--under_row2 {
    display: none;
  }

  .container__row__for768 {
    display: flex;
    flex-wrap: wrap;
    max-width: 745px;
    gap: 29px;
  }

  .container__row__for768 .under_row1--card768 {
    display: flex;
    flex-direction: column;
    background-color: $white;
    justify-content: space-between;
    align-items: start;
    box-shadow: 0px 5px 20px 0px #0000001A;
    border-radius: 25px;
    padding: 15px 25px;
    gap: 38px;
    cursor: pointer;
    width: 158px;
    transition: 0.2s;
  }

  .bg-gray_rectangle {
    position: absolute;
    top: 2000px;
    height: 1200px;
    z-index: -1;
  }
}